{% for interface in interfaces %}
interface {{ interface.name }}
  switchport mode access
{%   if "access_vlan" in interface %}
  switchport access vlan {{ interface["access_vlan"] }}
{%   else %}
  switchport access vlan {{ profiles[interface.profile]["access_vlan"] }}
{%   endif %}
{%   if "speed" in interface %}
  speed {{ interface.speed }}
{%   elif "speed" in profiles[interface.profile] %}
  speed {{ profiles[interface.profile]["speed"] }}
{%   endif %}
{%   if "duplex" in interface %}
  duplex {{ interface.duplex }}
{%   elif "duplex" in profiles[interface.profile] %}
  duplex {{ profiles[interface.profile]["duplex"] }}
{%   endif %}
{%   if profiles[interface.profile].get('admin_state') == "down" %}
  shutdown
{%   else %}
  no shutdown
{%   endif %}
{% endfor %}
