{% for interface in interfaces %}
interface {{ interface.name }}
  switchport mode access
  switchport access vlan {{ profiles[interface.profile].access_vlan }}
{% if profiles[interface.profile].get('speed') %}
  speed {{ profiles[interface.profile].speed }}
{% endif %}
{% if profiles[interface.profile].get('duplex') %}
  duplex {{ profiles[interface.profile].duplex }}
{% endif %}
{% if profiles[interface.profile].get('admin_state') == "down" %}
  shutdown
{% else %}
  no shutdown
{% endif %}
{% endfor %}
